<p-carousel
  [value]="filteredItems"
  [numVisible]="3"
  [numScroll]="3"
  class="carusel"
  [responsiveOptions]="responsiveLayout"
>
  <ng-template let-product pTemplate="item">
    <div class="border border-surface rounded-border m-2 p-4 card">
      <div class="mb-4">
        <div class="relative mx-auto">
          <img
            [src]="product.thumbnail"
            [alt]="product.title"
            class="w-full rounded-border"
          />
        </div>
      </div>
      <div class="mb-4 font-medium">{{ product.title }}</div>
      <div class="flex justify-between items-center">
        <div class="mt-0 font-semibold text-xl"></div>
        <span>
          <!-- ! შესასწროებელია იუზერის მიხედვით თუ ავტორიზირებულია -->
          <!-- ! მაშინ Add to cart სხვა შემთხვევაში View item -->
          <p-button icon="pi pi-shopping-cart" styleClass="ml-2"></p-button>
          <p-button
            icon="pi pi-heart"
            severity="secondary"
            [outlined]="true"
          ></p-button>
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
