<p-carousel
  [value]="filteredItems"
  [numVisible]="3"
  [numScroll]="3"
  class="carusel"
  [responsiveOptions]="responsiveLayout"
>
  <ng-template let-product pTemplate="item">
    <div
      class="border border-surface rounded-border m-2 p-4 card"
      [routerLink]="['/product', product._id]"
    >
      <div class="mb-4">
        <div class="relative mx-auto">
          <img
            [src]="product.thumbnail"
            [alt]="product.title"
            class="w-full rounded-border"
          />
        </div>
      </div>
      <div class="mb-4 font-medium">
        <p>
          {{ product.title }}
        </p>
      </div>
      <div class="flex justify-between items-center">
        <div class="mt-0 font-semibold text-xl">
          <p>
            @if (product.price.discountPercentage) {
            <span class="bef">
              {{ product.price.beforeDiscount }}
              {{ product.price.currency | transformCurrency }}
            </span>
            <span class="curr">
              {{ product.price.current }}
              {{ product.price.currency | transformCurrency }}
            </span>
            }@else {
            <span class="priceText">
              {{ product.price.current }}
            </span>
            {{ product.price.currency | transformCurrency }}
            }
          </p>
        </div>
        <span>
          <p-button
            icon="pi pi-shopping-cart"
            styleClass="ml-2"
            (click)="
              currentUserState === false ? redirect() : $event.preventDefault();
              $event.stopPropagation();
              addToCart(product._id)
            "
            [disabled]="product.stock === 0 ? true : false"
          ></p-button>
          <p-button
            icon="pi pi-heart"
            severity="secondary"
            [outlined]="true"
            (click)="
              $event.preventDefault();
              $event.stopPropagation();
              wishlistedId(product._id)
            "
          ></p-button>
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
