<div class="mainCard" [routerLink]="['/product', itemInput._id]">
  <div class="imageSide">
    <img [src]="itemInput.thumbnail" [alt]="itemInput.title" />
  </div>
  <div class="cardBody">
    <div class="itemName">
      <p>
        {{ itemInput.brand }}
      </p>
      <p>
        {{ itemInput.title }}
      </p>
      <div class="ratingStars">
        <span class="ratingStars">
          Rating: {{ ratingInput! | round : 1 }}
          <p
            *ngFor="let star of [].constructor(calcRating(ratingInput!).full)"
            class="star"
          >
            <i class="bi bi-star-fill"></i>
          </p>
          <p *ngIf="calcRating(ratingInput!).half" class="star">
            <i class="bi bi-star-half"></i>
          </p>
        </span>
      </div>
    </div>
    <div class="price">
      <p>
        {{ itemInput.price.current }}
        {{ itemInput.price.currency | transformCurrency }}
        <span *ngIf="itemInput.price.discountPercentage"
          >Old price {{ itemInput.price.beforeDiscount }}</span
        >
      </p>
    </div>
    <div
      class="buttons"
      (click)="$event.stopPropagation(); $event.preventDefault()"
    >
      <button class="btn btn-warning" [disabled]="!verifyUser()">
        {{ verifyUser() ? "Add to cart" : "Sign in to buy" }}
      </button>
    </div>
  </div>
</div>
