main {
  padding-top: 90px;
  padding-bottom: 50px;

  .mainSection {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;

    .items {
      width: 75%;
      height: 100%;
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      margin: auto;

      .nothingFound {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
        }
      }
    }

    .categories {
      width: 290px;
      height: 700px;
      padding: 20px;
      // background-color: red;
      color: white;
      border: 1px solid #d5d9d9;

      form {
        color: black;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .priceFilter {
          .changedRange {
            width: 100%;
          }
        }

        .wrapOrders {
          margin-bottom: 20px;
        }

        .filterBrands {
          .brandOption {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .quickInfo {
    width: 75%;
    text-align: center;
    font-family: "Raleway", "Sans-Serif";
    font-size: 24px;
    text-transform: capitalize;

    .textDecor {
      color: orange;
    }
  }

  .paginator {
    font-family: "Raleway", "sans-serif";
    width: fit-content;
    height: 90px;
    font-size: 20px;
    padding-bottom: 20px;
    gap: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-wrap: wrap;

    ul {
      display: flex;
      gap: 15px;
      padding: 0;

      li {
        width: 50px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        border-radius: 3px;
        background-color: whitesmoke;
        cursor: pointer;

        a {
          text-decoration: none;
          color: black;
          font-size: 25px;
        }

        &.active {
          border: 1px solid black;
        }
        &:hover {
          background-color: gainsboro;
          transition: all 0.2s;
        }
      }
    }

    .wrapPaginator {
      display: flex;
      gap: 15px;

      .controlsUl {
        font-family: "Raleway", "sans-serif";

        li {
          width: 95px;
          height: 48px;
          background-color: white;
          border: 1px solid #d5d9d9;
          list-style: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            font-size: 19px;
            color: black;
          }

          &.denied {
            background-color: #e0e0e0;
            cursor: not-allowed;
            user-select: none;
          }

          &:not(.denied):hover {
            background-color: gainsboro;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .mainSection {
      gap: 15px;
    }

    .paginator {
      margin-bottom: 90px;
    }
  }
}

@media (max-width: 425px) {
  main {
    .mainSection {
      gap: 25px;
      flex-wrap: wrap;

      .categories {
        width: 100%;
      }

      .items {
        width: 100%;
      }
    }

    .paginator {
      margin-bottom: 90px;

      .wrapPaginator {
        .controlsUl {
          li {
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  main {
    .paginator {
      margin-bottom: 120px;

      .wrapPaginator {
        ul {
          li {
            width: 30px;
            height: 50px;
          }
        }
      }
    }
  }
}
