<main>
  <div class="notFound" *ngIf="baseProduct.length === 0">
    <p>not found</p>
  </div>

  <section *ngIf="baseProduct.length > 0">
    <div class="mItems">
      <div class="cartHeader">
        <p>Total items: {{ baseProduct.length }}</p>
      </div>

      <div class="items">
        <app-cart-item
          *ngFor="let items of baseProduct"
          [cartItem]="items"
          (onItemRemove)="removedItem($event)"
          (totalPriceOutput)="updateTotalPrice($event)"
        />
      </div>
    </div>

    <aside>
      <div class="totalPrice">
        <p>Summary</p>
        <p>Total Price: {{ totalPrice }}</p>
      </div>
      <div class="shipping">
        <p>shipping details</p>
        <p>
          After placing your order, we will deliver the product to the address
          provided in your profile. Additionally, we will contact you to confirm
          the delivery details and ensure the item is sent to the correct
          address.
        </p>
      </div>

      <div class="bottomC">
        <button class="" (click)="purchaseProducts()">Place order</button>
        <p>total: {{ totalPrice }}$</p>
      </div>
    </aside>

    <div class="bott"></div>
  </section>
</main>
