main {
  padding-top: 90px;

  .mainSec {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 30px;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .left {
      width: 75%;
      height: 500px;
      overflow-y: auto;
    }

    .right {
      width: 75%;
      height: 250px;
      background-color: #f6f4f1;
      padding: 20px;
      font-family: "Raleway", "sans-serif";

      .baseContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .sideInfo {
          .totalItems {
            p {
              text-transform: capitalize;
              font-size: clamp(13px, 2vw, 20px);
            }
          }

          .totPrice {
            font-family: "Roboto", "sans-serif";
            font-size: clamp(13px, 2vw, 25px);
          }
        }

        .del {
          width: 25%;
          text-transform: capitalize;

          .head {
            .deliv {
              span {
                color: #2832c2;
                text-transform: uppercase;
                font-family: "Roboto", "Sans-Serif";
                text-decoration: underline 2px solid #2832c2;
              }
            }
          }

          .cBody {
            p {
              font-size: clamp(10px, 2vw, 15px);

              span {
                text-transform: uppercase;
                font-family: "Roboto", "sans-serif";
              }
            }
          }
        }

        .btnCon {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          font-family: "Roboto", "sans-serif";

          .tot {
            p {
              font-size: clamp(13px, 2vw, 20px);
            }
          }

          .btns {
            display: flex;
            gap: 15px;
          }
        }
      }
    }
  }

  .comp {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

    .complated {
      width: 500px;
      height: 350px;
      border: 1px solid #cecdcd;
      border-radius: 10px;
      background-color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .text {
        font-family: "Raleway", "sans-serif";
        font-size: 25px;
        color: #2832c2;
        text-transform: uppercase;
      }
    }
  }
}

.none {
  padding-top: 90px;
}

@media (max-width: 768px) {
  main {
    .mainSec {
      .right {
        height: fit-content;

        .baseContainer {
          flex-wrap: wrap;
          height: fit-content;
          justify-content: center;
          /* align-items: center; */
          width: fit-content;

          .sideInfo {
            width: fit-content;
            height: fit-content;
          }

          .del {
            width: fit-content;
            height: fit-content;
          }

          .btnCon {
            width: fit-content;
            height: fit-content;

            .tot {
              p {
                text-align: center;
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
