main {
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 90px;

  section {
    width: 85%;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .mItems {
      width: 50%;
      height: 500px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .items {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

      .cartHeader {
        text-transform: capitalize;
        margin-bottom: 20px;
        border-bottom: 1px solid #333;

        p {
          font-size: 22px;
          font-weight: 550;
          color: #333;
        }
      }
    }

    aside {
      width: 500px;
      height: fit-content;
      border: 1px solid #dcdcdc;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;

      .totalPrice {
        display: flex;
        justify-content: space-evenly;
        text-transform: capitalize;
        font-size: 26px;
        border-bottom: 1px solid #e0e0e0;

        p {
          font-weight: 700;
        }
      }

      .shipping {
        text-transform: capitalize;
        margin: auto;
        padding: 25px;

        :nth-child(1) {
          font-size: 20px;
          font-weight: 550;
        }
      }

      .bottomC {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 15px;
        border-top: 1px solid #e0e0e0;

        p {
          font-size: 25px;
          text-transform: capitalize;
          font-weight: 500;
        }

        button {
          padding: 15px;
          font-size: 15px;
          font-weight: 500;
          border: none;
          color: #333;
          background-color: #ffc107;
          transition: all 0.3s;

          &:hover {
            background-color: #ffca28;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.notFound {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  main {
    height: 100%;

    section {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .mItems {
        width: 100%;
        display: flex;
        align-items: center;

        .items {
          width: 75%;
        }
      }
    }
  }

  aside {
    width: 100%;
  }
}
