<div class="card-body">
  <div class="mainBody">
    <div class="imageContainer">
      <img [src]="singleItem?.thumbnail" alt="" />
    </div>
    <div class="baseInfo">
      <div class="titleContainer">
        <p class="titleP">
          {{ singleItem?.title }}
        </p>
      </div>
      <div class="rating">
        <p>Rating: {{ singleItem?.rating! | round : 1 }}</p>
        <span
          *ngFor="
            let stars of [].constructor(itemRating(singleItem?.rating).full)
          "
        >
          <i class="bi bi-star-fill"></i>
        </span>
        <p>
          <span *ngIf="itemRating(singleItem?.rating).half">
            <i class="bi bi-star-half half-star"></i>
          </span>
        </p>
      </div>
      <div class="priceCon">
        <p>Product price: {{ singleItem?.price?.current }}</p>
      </div>
    </div>
    <div class="qtyCon">
      <label for="quantity">Quantity:</label>
      <input
        [formControl]="quantityCange"
        id="form1"
        min="1"
        [max]="itemStockLimit"
        name="quantity"
        [value]="cartItemInput.quantity"
        type="number"
        class="form-control form-control-sm"
        (input)="handleLimits()"
      />
      <div class="removeItem">
        <i class="bi bi-trash" (click)="remove(singleItem!._id)"></i>
      </div>
    </div>
  </div>
</div>
