<div class="none" *ngIf="!items.length">
  <div class="imgCon">
    <img src="https://cdn-icons-png.flaticon.com/512/4379/4379925.png" alt="" />
  </div>
  <div class="text">
    <p>No items found in wishlist</p>
  </div>
  <div class="redir">
    <button class="btn btn-warning" routerLink="home">Home page</button>
  </div>
</div>

<main *ngIf="items.length">
  <section class="products">
    <app-item-card
      *ngFor="let item of items"
      (removedItem)="removeItem($event)"
      [products]="item"
    />
  </section>
  <section class="bottom">
    <div class="totalCounter">
      <p>total items: {{ counter }}</p>
      <p>total price of items: {{ totalPrice }} {{ currency_holder }}</p>
    </div>
    <div class="btns">
      <button class="btn btn-warning" (click)="clearWishlist()">
        Clear wishlist
      </button>
    </div>
  </section>
</main>
