main {
  padding-top: 90px;

  section.products {
    width: 75%;
    height: 500px;
    padding: 20px;
    border: 1px solid #cccbcb;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  section.bottom {
    width: 75%;
    height: 250px;
    margin: auto;
    padding: 25px;
    background-color: #f6f4f1;
    color: black;
    text-align: center;

    .totalCounter {
      font-family: "Roboto", "sans-serif";
      text-transform: capitalize;

      p {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }
}

.none {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .imgCon {
    img {
      width: 250px;
      height: 250px;
    }
  }

  .text {
    font-size: 25px;
    font-weight: 450;
    padding-top: 20px;
    text-align: center;
    font-family: "Roboto", "Sans-Serif";
  }
}
