<main>
  <section class="mainInfo">
    <div class="imageSide">
      <p-galleria
        [value]="currentProductLib.length ? currentProductLib : singleThumbnail"
        [showItemNavigators]="false"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="5"
      >
        <ng-template #item let-item>
          <img [src]="item.thumbnailImageSrc" />
        </ng-template>
        <ng-template #thumbnail let-item>
          <img [src]="item.thumbnailImageSrc" class="images" />
        </ng-template>
      </p-galleria>

      <div class="basicDesc">
        <div class="titleRating">
          <div class="title">
            <p>
              {{ singleItem?.title }}
            </p>
          </div>
          <div class="decor">
            <a (click)="navigateToSearch(singleItem!.brand)" class="seeMore">
              See more {{ singleItem?.brand }} products
            </a>
            <span class="ratingStars" *ngIf="singleItem?.rating">
              Rating: {{ singleItem?.rating }}
              <p
                *ngFor="
                  let star of [].constructor(
                    calcRating(singleItem?.rating).full
                  )
                "
                class="star"
              >
                <i class="bi bi-star-fill"></i>
              </p>
              <p *ngIf="calcRating(singleItem?.rating).half" class="star">
                <i class="bi bi-star-half"></i>
              </p>
            </span>
            <hr />
            <div class="bottomDesc">
              @if (singleItem?.price?.discountPercentage) {
              <p class="discoundted">
                -{{ singleItem?.price?.discountPercentage }}%
                <span>
                  {{ singleItem?.price?.current }}
                  {{ (singleItem?.price)!.currency | transformCurrency }}
                </span>
              </p>
              <p class="before">
                last price
                <span>
                  {{ singleItem?.price?.beforeDiscount }}
                  {{ singleItem?.price?.currency }}
                </span>
              </p>
              }@else {
              <p>
                {{ singleItem?.price?.current }}
                <span>
                  {{ (singleItem?.price)!.currency | transformCurrency }}
                </span>
              </p>
              }
            </div>
          </div>
          <div class="description">
            <p>
              brand:
              <span>
                {{ singleItem?.brand }}
              </span>
            </p>
            <p>
              issue date:
              <span>
                {{ singleItem?.issueDate | date : "dd/MM/yyyy" }}
              </span>
            </p>
            <p>
              warranty:
              <span *ngIf="singleItem?.warranty" class="warranty">Yes</span>
            </p>
            <p>
              stock:
              <span>
                {{ singleItem?.stock }}
              </span>
            </p>
            <p class="descP">
              {{ singleItem?.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="purchaseContainer">
      <div class="head">
        <p>Buy for</p>
        <p class="priceP">
          {{ singleItem?.price?.current }}
          {{ (singleItem?.price)!.currency | transformCurrency }}
        </p>
      </div>
      <div class="body">
        <!-- თუ იუზერი ავტორიზირებულია -->
        <div class="textWrap">
          @if (true) {
          <p>
            We will deliver the product to your address. Prior to the delivery
            date, we will contact you to confirm the accuracy of the provided
            information.
          </p>
          }
        </div>
        @if (singleItem!.stock > 0) {
        <p>Select Quantity:</p>
        <app-select
          [stock]="arrayOfStock"
          (quantitySelected)="catchQty($event)"
        />
        }@else{
        <p class="text-danger">Out of stock</p>
        }
      </div>
      <div class="buttons">
        <!-- * განახლებული ღილაკი user state მიხედვით იცვლის ფორმას -->
        <button
          class="btn btn-warning"
          [disabled]="singleItem?.stock === 0 || !verifyUser()"
          (click)="addToCart(singleItem!._id, selectedQuantity())"
        >
          {{ verifyUser() ? "Add to cart" : "You must login" }}
        </button>
        <button
          *ngIf="verifyUser()"
          class="btn btn-primary"
          (click)="addToWishlist(singleItem!._id)"
        >
          Add to wishlist
        </button>
      </div>
    </div>
  </section>

  <section class="simItems">
    <div class="titleCont">
      <p>similar items</p>
    </div>
    <div class="sliderC">
      <app-slider
        *ngIf="categoryItems.length"
        [sliderItem]="categoryItems"
        (emitItemid)="emitedItemId($event)"
        (emitWishlist)="wishlist($event)"
      />
      <!-- <app-base-slider *ngIf="categoryItems.length" [items]="categoryItems" /> -->
    </div>
  </section>
</main>
