main {
  width: 100%;
  height: 100%;
  padding-top: 80px;

  .mainInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .imageSide {
      width: 75%;
      height: auto;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;

      p-galleria {
        width: 650px;

        img {
          width: 500px;
          height: 500px;
          object-fit: contain;
        }

        .images {
          width: 80px !important;
          height: 60px !important;
          object-fit: contain !important;
        }

        ::ng-deep .p-galleria-nav-button {
          width: 35px;
          height: 35px;
          color: #ffffff !important;
          background-color: #007bff !important;
          transition: all 0.2s;
          border: 1px solid #007bff;

          &:hover {
            background-color: #0056b3 !important;
            color: #ffffff !important;
            transition: all 0.2s;
          }
        }

        ::ng-deep .p-ripple {
          color: white;
          background-color: #007bff;
          transition: ease-out 0.2s;

          &:hover {
            color: white;
            background-color: #0056b3;
            transition: ease-out 0.2s;
          }
        }
      }

      .basicDesc {
        padding: 20px;

        .titleRating {
          width: 500px;
          .title {
            font-size: 24px;
            font-weight: 700;
            //?? text-align: right;
            font-family: "Raleway", sans-serif;
          }

          .decor {
            font-family: "Roboto", "sans-serif";

            .ratingStars {
              display: flex;
              align-items: center;
              gap: 2px;

              .star {
                color: #de7921;
                padding: 0;
                margin: 0;
              }
            }

            .bottomDesc {
              font-family: "Roboto", "Sans-Serif";
              font-weight: 600;
              font-size: 28px;

              .discoundted {
                color: red;
                font-weight: 300;
                padding: 0;
                margin: 0;

                span {
                  font-weight: 500;
                  color: black;
                }
              }

              .before {
                font-size: 14px;
                color: #6a6d6d;

                span {
                  text-decoration: line-through;
                }
              }
            }

            .seeMore {
              color: blue;
              cursor: pointer;
            }
          }

          .description {
            font-family: "Roboto", "Sans-Serif";
            .descP {
              width: 450px;
              font-weight: 400;
            }

            p {
              font-size: 18px;
              text-transform: capitalize;
              font-weight: bolder;

              span {
                font-weight: 400;
              }

              .warranty {
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
    }

    .purchaseContainer {
      width: 270px;
      height: 500px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #d5d9d9;
      font-family: "Roboto", "sans-serif";

      .head {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          padding: 0;
          margin: 0;
          font-weight: 500;
          font-size: 21px;
        }

        .priceP {
          margin: 0;
          padding: 0;
          font-size: 21px;
          font-weight: 400;
        }
      }

      .body {
        .textWrap {
          p {
            padding-top: 40px;
          }
        }
      }

      .buttons {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        gap: 20px;

        button {
          width: 220px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    height: 100%;
    padding-top: 80px;

    .mainInfo {
      align-items: center;
      flex-direction: column;

      .imageSide {
        flex-direction: column;
      }

      .purchaseContainer {
        width: 400px;
        height: 440px;
        margin-bottom: 90px;
      }
    }
  }
}

@media (max-width: 425px) {
  main {
    .mainInfo {
      .purchaseContainer {
        width: 300px;
        height: 440px;
        margin-bottom: 90px;
      }

      .imageSide {
        width: 100%;

        p-galleria {
          max-width: 300px !important;

          img {
            width: 300px;
            height: 300px;
          }

          .images {
            width: 60px !important;
            height: 40px !important;
          }
        }

        .basicDesc {
          padding: 0;

          .titleRating {
            width: 300px;

            .description {
              .descP {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  main {
    .mainInfo {
      .purchaseContainer {
        width: 300px;
        height: 440px;
        margin-bottom: 90px;
      }

      .imageSide {
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        p-galleria {
          max-width: 300px !important;

          img {
            width: 300px;
            height: 300px;
          }

          .images {
            width: 60px !important;
            height: 40px !important;
          }
        }

        .basicDesc {
          padding: 0;

          .titleRating {
            width: 300px;

            .description {
              .descP {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
