<main>
  <div class="loading" *ngIf="loading">
    <app-loading-component />
    <p>Waiting for response...</p>
  </div>
  <div class="redir" *ngIf="isSended">
    <p>Password sent to email</p>
    <p>You will be redirected into home page</p>
    <span>in {{ count }}...</span>
  </div>

  <section class="box" *ngIf="!isSended && !loading">
    <div class="header">
      <div>
        <p>Forgot Password?</p>
        <p class="second">
          Enter your email we will send you new password there (email must be
          verified)
        </p>
      </div>
    </div>
    <div class="inputBody">
      <div class="wrapForm">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="userEmail"
            placeholder="Ex. pat@example.com"
          />
          <mat-hint>Enter account email address</mat-hint>
          @if (userEmail.hasError('email') && !userEmail.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (userEmail.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <button class="btn btn-warning" (click)="submit()">
          Request new password
        </button>
      </div>
    </div>
    <div class="footer">
      <p>
        Enter the email address linked to your account to reset your password.
        We'll send a new password to your inbox. Ensure the email is valid;
        you'll see a message if it's not. After submitting, a confirmation will
        appear: "If registered, we've sent instructions to your email." Click
        "Request New Password" to proceed.
      </p>
    </div>
  </section>
</main>
