.base-nav {
  display: none;
}

.searchModal {
  display: none;
}

.searchModal.activeModal {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);

  app-search {
    padding-top: 50px;
  }

  .foundItems {
    width: 450px;
    padding: 20px;
    text-align: center;
    overflow: scroll;
  }
}

@media (max-width: 768px) {
  .base-nav {
    width: 300px;
    height: 50px;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #333333;

    ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        font-size: 25px;

        a {
          color: white;
        }
      }
    }
  }
}
