<div class="base-nav" *ngIf="isVisible">
  <ul>
    <li>
      <a routerLink="/home">
        <i class="bi bi-house-door-fill"></i>
      </a>
    </li>
    <li>
      <a (click)="toggle()">
        <i class="bi bi-search"></i>
      </a>
    </li>
    <li class="customClass">
      <a>
        <i class="bi bi-cart3" routerLink="/cart">
          <!-- <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            *ngIf="counter > 0"
          >
            {{ counter }}
          </span> -->
        </i>
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-bag-heart-fill"></i>
      </a>
    </li>
  </ul>
</div>
<div
  class="searchModal"
  [class.activeModal]="bottomSearchVisible"
  appWindowResize="768"
  removeClass="activeModal"
>
  <app-search class="searchInput" />
  <div class="foundItems" (mousedown)="handleClick($event)"></div>
</div>
<!-- <div
  class="overlay"
  *ngIf="bottomSearchVisible || searchService.bottomNavSearch.value"
></div> -->
