<main>
  <div class="ver" *ngIf="!base?.verified">
    <a target="_blank" href="http://gmail.com/">Verify account (check email)</a>
    <p>to see profile information you must verify email address</p>
  </div>
  <section class="mainSection" *ngIf="base?.verified">
    <div class="profileCont">
      <div class="base">
        <div class="imageC">
          <img [src]="base?.avatar" alt="" />
        </div>
        <div class="user">
          <p>{{ base?.firstName }} {{ base?.lastName }}</p>
        </div>
        <div class="baseInf">
          <p>First name: {{ base?.firstName }}</p>

          <p>Last name: {{ base?.lastName }}</p>

          <p>
            email :
            <span>
              {{ base?.email }}
            </span>
          </p>

          <p>
            user ID :
            <span>
              {{ base?._id }}
            </span>
          </p>
        </div>
      </div>

      <div class="mainInf">
        <div class="top">
          <p><i class="bi bi-info"></i> General information</p>
        </div>
        <div class="information">
          <div class="infC">
            <p *ngFor="let inf of convertObj(currUser); let i = index">
              {{ inf.label }}:

              <span>
                {{ inf.value }}
              </span>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                *ngIf="inf.Key !== 'email'"
                (click)="
                  updateKey = inf.Key;
                  updateValue = inf.value;
                  propLabel = inf.label;
                  isModalOpen = true
                "
              >
                <i class="bi bi-pencil" (click)="updateKey = inf.Key"></i>
              </button>
            </p>

            <app-modal
              [propertyKey]="updateKey"
              [propertyValue]="updateValue"
              [propertyLabel]="propLabel"
              [isOpen]="isModalOpen"
              (emitValue)="catchValue($event)"
              (emitNewPassword)="passwordChange($event)"
            />

            <div class="wrapInput">
              <form
                action=""
                (submit)="
                  $event.preventDefault();
                  updateUser(updateKey, updateTrack.value)
                "
              ></form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- reset-password უნდა იყოს auth page ის child ელემენტი -->
