<main>
  <section>
    <div class="top">
      <div class="text">
        <p class="titleT">our story</p>
        <p class="mainText">
          We began as a small idea fueled by the desire to bring quality and
          convenience to everyday shopping. Over time, what started as a passion
          project has grown into a platform that connects people with products
          they love. Our journey has been shaped by a commitment to offering
          thoughtfully curated items that combine style, quality, and
          affordability. Every step we've taken has been guided by our belief in
          creating a seamless shopping experience that feels personal, reliable,
          and inspiring. We're more than just a marketplace—we're part of your
          journey, helping you find products that fit your life and aspirations.
        </p>
      </div>

      <div class="text">
        <p class="titleT">Our Mission</p>
        <p class="mainText">
          Our mission is simple: to make shopping a joyful and meaningful
          experience by focusing on:
        </p>
      </div>
      <div class="bodyText">
        <p>
          <strong>Uncompromising Quality: </strong>
          Ensuring every product meets the highest standards.
        </p>

        <p>
          <strong>Fair Pricing: </strong>
          Bringing premium products within everyone’s reach.
        </p>
        <p>
          <strong>Sustainability: </strong>
          Striving to minimize environmental impact through conscious practices.
        </p>
        <p>
          <strong>Customer-Centric Service: </strong>
          Putting your needs and satisfaction at the heart of what we do.
        </p>
      </div>
      <div class="bottom">
        <p>
          We’re here to empower you to shop with confidence, knowing every
          choice you make supports a vision of quality, care, and connection.
        </p>
      </div>
    </div>
    <div class="accordion">
      <div class="accTitle">
        <p>frequently asked questions</p>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Delivery time
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              One of the most frequently asked questions we receive is about
              delivery time. Typically, items are delivered within an estimated
              timeframe of 1 to 2 weeks.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Product source authenticity?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Our products are sourced directly from official manufacturers,
              ensuring authenticity and quality. We proudly serve as official
              resellers for the brands featured in our collection, offering you
              genuine items from trusted sources.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Return and warranty?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <strong>Return Policy:</strong> We accept returns within 30 days
              if the item has a manufacturing defect. In such cases, we will
              issue a full refund.
              <br />
              <strong>Warranty:</strong> The warranty for our products is
              provided by the official manufacturer, and the coverage period
              varies depending on the item.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
