<div class="loadingState" *ngIf="loading">
  <app-loading-component />
</div>

<main *ngIf="!loading">
  <section class="topCon">
    <div class="mainSlider">
      <app-galeria />
    </div>
    <div class="randomProducts">
      <div class="randomProductsTitle">
        <p>You might like</p>
      </div>
      <div class="randomItems">
        @for (item of randomThree; track $index) {
        <app-card [singleItem]="item" (cartItemId)="emitedItem($event)" />
        }
      </div>
    </div>

    <div class="seenItems" *ngIf="seenThree.length > 0">
      <div class="seenItemsTitle">
        <p>3 Recently viewed</p>
      </div>
      <div class="seenItemsItems">
        @for (item of seenThree; track $index) {
        <app-card
          *ngIf="item"
          [singleItem]="item"
          (cartItemId)="emitedItem($event)"
        />
        }
      </div>
    </div>
  </section>

  <section
    class="baseContainer"
    *ngFor="let brand of brands"
    [class]="'baseContainer-' + brand"
  >
    <div class="containerTitle">
      <p>Choose from {{ brand }}</p>
    </div>
    <app-slider
      [sliderItem]="products"
      [brand]="brand"
      (emitItemid)="sliderCart($event)"
    />
  </section>
</main>
