<p-card
  [style]="{
    overflow: 'hidden',
    background: 'white',
    color: 'black'
  }"
  [routerLink]="['/product', item._id]"
  class="restyled-card"
>
  <ng-template #header>
    <img alt="Card" class="w-full" [src]="item.thumbnail" />
  </ng-template>
  <ng-template #title>
    {{ item.title | truncate : 10 }}
  </ng-template>
  <ng-template #subtitle>
    @if (item.price.discountPercentage) {
    <span class="bef">
      {{ item.price.beforeDiscount }}
      {{ item.price.currency | transformCurrency }}
    </span>
    <span class="curr">
      {{ item.price.current }} {{ item.price.currency | transformCurrency }}
    </span>
    }@else {
    <span class="curr">
      {{ item.price.current }} {{ item.price.currency | transformCurrency }}
    </span>
    }
  </ng-template>
  <p>
    {{ item.description | truncate : 10 }}
  </p>
  <ng-template #footer id="footer">
    <div class="footer">
      <p-button
        label="Wishlist"
        severity="secondary"
        class="w-full"
        [outlined]="true"
        styleClass="w-full"
        (click)="prevent($event); emitwishlistedItem(item._id)"
      />
      <p-button
        label="Add to cart"
        [disabled]="item.stock === 0"
        class="w-full"
        styleClass="w-full"
        (click)="emitItem(item._id); prevent($event)"
      ></p-button>
    </div>
  </ng-template>
</p-card>
