<!-- <div
  class="card restyled-card"
  style="width: 18rem"
  [routerLink]="['/', item._id]"
>
  <img [src]="item.thumbnail" class="card-img-top" [alt]="item.title" />
  <div class="card-body">
    <h5 class="card-title">
      {{ item.title }}
    </h5>
    <p class="card-text weightCorrection">
      {{ item.description | truncate }}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<p-card
  [style]="{ width: '22rem', overflow: 'hidden' }"
  [routerLink]="['/', item._id]"
  class="restyled-card"
>
  <ng-template #header>
    <img alt="Card" class="w-full" [src]="item.thumbnail" />
  </ng-template>
  <ng-template #title>
    {{ item.title }}
  </ng-template>
  <ng-template #subtitle>
    {{ item.price.current }} {{ item.price.currency }}
  </ng-template>
  <p>
    {{ item.description | truncate }}
  </p>
  <ng-template #footer>
    <div class="flex gap-4 mt-1">
      <p-button
        label="Wishlist"
        severity="secondary"
        class="w-full"
        [outlined]="true"
        styleClass="w-full"
        (mousedown)="onMouseDown($event)"
      />
      <p-button
        label="Add to cart"
        class="w-full"
        styleClass="w-full"
        (mousedown)="onMouseDown($event)"
      />
    </div>
  </ng-template>
</p-card>
