<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Change {{ propertyLabel }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form
            (submit)="
              $event.preventDefault();
              updatedValue(propertyKey!, userChange.controls.inputControl.value)
            "
            [formGroup]="userChange"
          >
            <div
              class="mb-3"
              *ngIf="propertyKey !== 'gender' && propertyKey !== 'password'"
            >
              <label for="recipient-name" class="col-form-label"
                >Change {{ propertyLabel }}:</label
              >
              <input
                formControlName="inputControl"
                type="text"
                class="form-control"
                id="recipient-name"
                [placeholder]="'Enter new ' + propertyLabel"
                (focus)="onFocus()"
              />
              @if (userChange.controls.inputControl.hasError('email')) {
              <p class="errorMessage">Enter correct <strong>email</strong></p>
              }
            </div>
            <div class="genderSelect" *ngIf="propertyKey === 'gender'">
              <label for="recipient-name" class="col-form-label"
                >Change {{ propertyLabel }}:</label
              >
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="genderControl"
              >
                <option selected disabled>Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
              </select>
            </div>
          </form>

          <form
            [formGroup]="passwordChangeForm"
            *ngIf="propertyKey === 'password'"
            (submit)="submit()"
          >
            <div class="passwordReset">
              <div class="mb-3">
                <label for="oldPassword" class="col-form-label"
                  >Old Password</label
                >
                <input
                  formControlName="oldPassword"
                  type="password"
                  class="form-control"
                  id="oldPassword"
                  [placeholder]="'Enter old ' + propertyLabel"
                />
                @if
                (passwordChangeForm.controls.oldPassword.hasError('minlength'))
                {
                <p class="errorMessage">
                  <strong>password</strong> must be more then 8 or more
                  characters
                </p>
                }@else if
                (passwordChangeForm.controls.oldPassword.hasError('maxlength'))
                {
                <p class="errorMessage">
                  <strong>password</strong> must be less then 16 characters
                </p>
                }@else if
                (passwordChangeForm.controls.oldPassword.hasError('maxlength')
                && passwordChangeForm.controls.oldPassword.touched) {
                <p class="errorMessage">
                  old <strong>password</strong>r is required
                </p>
                }@else if (passwordChangeForm.controls.oldPassword.value ===
                passwordChangeForm.controls.newPassword.value &&
                passwordChangeForm.controls.newPassword.value !== null ) {
                <p class="errorMessage">Passwords cannot be same</p>
                }
              </div>

              <div class="mb-3">
                <label for="newPassword" class="col-form-label"
                  >New Password</label
                >
                <input
                  formControlName="newPassword"
                  type="password"
                  class="form-control"
                  id="newPassword"
                  [placeholder]="'Enter new ' + propertyLabel"
                />
                @if (passwordChangeForm.controls.oldPassword.value ===
                passwordChangeForm.controls.newPassword.value &&
                passwordChangeForm.controls.newPassword.value !== null) {
                <p class="errorMessage">
                  <strong>Passwords</strong> cannot be same
                </p>
                }@else if
                (passwordChangeForm.controls.newPassword.hasError('required') &&
                passwordChangeForm.controls.newPassword.touched) {
                <p class="errorMessage">
                  <strong>Password</strong> is required
                </p>
                }@else if
                (passwordChangeForm.controls.newPassword.hasError('minlength')
                && passwordChangeForm.controls.newPassword.touched) {
                <p class="errorMessage">
                  <strong>Password</strong> must be at least 8 characters
                </p>
                }@else if
                (passwordChangeForm.controls.newPassword.hasError('maxlength')
                && passwordChangeForm.controls.newPassword.touched) {
                <p class="errorMessage">
                  <strong>Password</strong> must be less then 16 characters
                </p>
                }
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary m-2"
              (click)="submit()"
            >
              Save Password
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="resetPassform()"
            >
              Close
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer" *ngIf="propertyKey !== 'password'">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetForm()"
        >
          Close
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          (click)="
            updatedValue(propertyKey!, userChange.controls.inputControl.value)
          "
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
