<nav>
  <div class="classic-navigation">
    <ul class="logoSide">
      <li>
        <a routerLink="/">Tech Shop</a>
      </li>
      <li class="burgerTog">
        <i class="bi bi-list" (click)="toggleF()"></i>
      </li>
    </ul>

    <div class="searchBox">
      <app-search />
    </div>

    <ul class="navigation-buttons">
      @for (navItems of base_nav; track $index) {
      <li class="nav-items" *ngIf="!navItems.iconSrc">
        <a
          [routerLink]="navItems.path"
          routerLinkActive="activeRoute"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ navItems.title }}
        </a>
      </li>
      <li class="nav-user">
        <i
          *ngIf="navItems.iconSrc"
          [class]="navItems.iconSrc"
          [routerLink]="navItems.path"
        >
          {{ navItems.title }}
        </i>
      </li>
      }
    </ul>
  </div>
  <div
    [class.activeDropDown]="toggleNav"
    [class.inactiveDropDown]="!toggleNav"
    appWindowResize="768"
    removeClass="activeDropDown"
    setClass="inactiveDropDown"
  >
    <ul [class.inactive]="!toggleNav">
      @for (navItems of base_nav; track $index) {
      <li *ngIf="!navItems.iconSrc">
        <a
          [routerLink]="navItems.path"
          routerLinkActive="activeRoute"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ navItems.title }}
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
