<main>
  <mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab label="Login">
      <form
        class="example-form"
        [formGroup]="authForm"
        (ngSubmit)="submitLogin()"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="emailFormControl"
            placeholder="Your Email"
          />
          @if (authForm.controls.emailFormControl.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (authForm.controls.emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            class="customSize"
            matInput
            type="password"
            formControlName="passwordControl"
            placeholder="Password"
          />
          @if (authForm.controls.passwordControl.hasError('minlength')) {
          <mat-error>Password must be 8 or more characters</mat-error>
          }@if (authForm.controls.passwordControl.hasError('maxlength')) {
          <mat-error>Password must be less then 16 characters</mat-error>
          } @if (authForm.controls.passwordControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <div class="buttons">
          <button class="btn btn-primary" type="submit">Login</button>
          <a routerLink="/reset-password">Forgot password?</a>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Register">
      <form
        class="example-form"
        [formGroup]="signUpForm"
        (ngSubmit)="userRegister()"
      >
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            placeholder="First name"
            formControlName="firstName"
          />
          @if (signUpForm.controls.firstName.hasError('minlength') &&
          signUpForm.controls.firstName.touched) {
          <mat-error>Enter more then 2 characters</mat-error>
          }@if (signUpForm.controls.firstName.hasError('maxlength') &&
          signUpForm.controls.firstName.touched) {
          <mat-error>Enter less then 16 characters</mat-error>
          } @if (signUpForm.controls.firstName.hasError('required') &&
          signUpForm.controls.firstName.touched) {
          <mat-error>First name is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Last name"
            formControlName="lastName"
          />
          @if (signUpForm.controls.lastName.hasError('minlength')&&
          signUpForm.controls.lastName.touched) {
          <mat-error>Enter more then 2 characters</mat-error>
          }@if (signUpForm.controls.lastName.hasError('maxlength') &&
          signUpForm.controls.lastName.touched) {
          <mat-error>Enter less then 16 characters</mat-error>
          } @if (signUpForm.controls.lastName.hasError('required') &&
          signUpForm.controls.lastName.touched) {
          <mat-error>last name is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Your Email"
          />
          @if (signUpForm.controls.email.hasError('email') &&
          signUpForm.controls.email.touched) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (signUpForm.controls.email.hasError('required') &&
          signUpForm.controls.email.touched) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Enter password"
          />
          @if (signUpForm.controls.password.hasError('required') &&
          signUpForm.controls.password.touched) {
          <mat-error>Password is <strong>required</strong></mat-error>
          } @if (signUpForm.controls.password.hasError('minlength') &&
          signUpForm.controls.password.touched) {
          <mat-error>Enter 8 or more then 8 characters</mat-error>
          } @if (signUpForm.controls.password.hasError('maxlength') &&
          signUpForm.controls.password.touched) {
          <mat-error>Enter 16 or less then 16 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="address"
            placeholder="Enter city name"
          />
          @if (signUpForm.controls.address.hasError('required') &&
          signUpForm.controls.address.touched) {
          <mat-error>Address is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input
            type="text"
            matInput
            formControlName="age"
            placeholder="Enter age"
          />
          @if (signUpForm.controls.age.hasError('required') &&
          signUpForm.controls.age.touched) {
          <mat-error>Age is <strong>required</strong></mat-error>
          } @if (signUpForm.controls.age.hasError('min') &&
          signUpForm.controls.age.touched) {
          <mat-error>You must be minimum 18 years old</mat-error>
          } @if (signUpForm.controls.age.hasError('max') &&
          signUpForm.controls.age.touched) {
          <mat-error>Age must be les then 100</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input
            type="tel"
            matInput
            formControlName="phone"
            placeholder="Enter yor phone number"
          />
          @if (signUpForm.controls.phone.hasError('required') &&
          signUpForm.controls.phone.touched) {
          <mat-error>Phone number is <strong>required</strong></mat-error>
          }@if(signUpForm.controls.phone.hasError('pattern') &&
          signUpForm.controls.phone.touched){
          <mat-error>
            Please enter a valid phone number (7 to 15 digits, optional '+' at
            the beginning).
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zipcode</mat-label>
          <input
            type="text"
            matInput
            formControlName="zipcode"
            placeholder="Enter zipcode (1234 or 12345-6789)"
          />
          @if (signUpForm.controls.zipcode.hasError('required') &&
          signUpForm.controls.zipcode.touched) {
          <mat-error>Zipcode is <strong>required</strong></mat-error>
          }@if(signUpForm.controls.zipcode.hasError('pattern') &&
          signUpForm.controls.zipcode.touched){
          <mat-error>
            Please enter a valid ZIP code (e.g., 12345 or 12345-6789).
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label aria-disabled="true">Select gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="OTHER">Other</mat-option>
          </mat-select>
          @if (signUpForm.controls.gender.hasError('required') &&
          signUpForm.controls.gender.touched ) {
          <mat-error> Gender is <strong>required</strong>.</mat-error>
          }
        </mat-form-field>

        <button class="btn btn-warning" type="submit">Reigster</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</main>
