main {
  width: 100%;
  height: 100vh;
  padding-top: 190px;

  mat-tab-group {
    width: 850px;
    // height: 600px;
    margin: auto;

    ::ng-deep .mdc-tab__text-label {
      color: black !important;
    }

    form {
      width: 100%;
      // height: 100%;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mat-mdc-form-field {
        width: 450px;
      }

      .buttons {
        padding-top: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        button {
          width: 150px;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-error {
  color: red !important;
}

::ng-deep label {
  color: white !important;
}

@media (max-width: 425px) {
  main {
    mat-tab-group {
      width: 100%;
      mat-form-field {
        width: 400px !important;
      }
    }
  }
}

@media (max-width: 375px) {
  main {
    mat-tab-group {
      width: 100%;
      mat-form-field {
        width: 300px !important;
      }
    }
  }
}
